<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


	<bean class="com.xworkz.hema.Fuel" id="fuel">
	<constructor-arg value="4"/>
	</bean>
	
	<bean class="com.xworkz.hema.Satellite" id="sat">
	<property name="location" value="goa"/>
	<property name="Launch" value="10"/>
	
	</bean>
	
	<bean class ="com.xworkz.hema.Rocket" id="Rocket ">
	<constructor-arg ref="fuel"/>
	<property name="Sat" ref="sat"/>
	<property name="countryName" value="10"/>
	
	</bean>


</beans>